.env
.vscode
*.safetensors
*.pt
**/others/
**/__pycache__/
**/wandb/
baseline/
create_split_json.py
*.jpg
data/
code/
.env
**/work_dirs/
*.pth
*.csv
work_dirs/
**/wandb/
mask_rcnn_swin_inference.ipynb
mask_rcnn_swin_train.ipynb
mmdetection/*
!mmdetection/ssd_experiment/
!mmdetection/ssd_experiment/**
mmdetection/ssd_experiment/work_dirs/
CoDetr
__pycache__
work_dirs 
**/wandb/
**/__pycache__/
.pyc
cascade_rcnn/output
cascade_rcnn/wandb
baseline/
create_split_json.py
*.pt
**/runs/