.env
.vscode
*.safetensors
*.pt
**/others/
**/__pycache__/
**/wandb/
*.jpg
data/
code/
.env
**/work_dirs/
*.pth
*.csv
work_dirs 
**/wandb/
**/__pycache__/
.pyc
cascade_rcnn/output
cascade_rcnn/wandb
baseline/
create_split_json.py